<section class="section experience">
  <div class="section__title">Background</div>
  <div class="section__content">
    <div class="jobs">
      {% for bg in site.data.background %}
      <div class="bg">
        <div class="time-place">
          <div class="bg__company">
            <a href="{{bg.url}}" target="_blank">{{bg.name}}</a>
          </div>
          <div class="bg__time">{{bg.time}}</div>
        </div>
        <div class="bg__position">{{bg.title}}</div>
      </div>
      {% endfor %}
    </div>
    <!--
    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
-->
  </div>
</section>
